<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/win_check_logic.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <h1>Let's Play Connect Four!</h1>
    <div class="players">
      <p>Player 1: Red</p>
      <p>Player 2: Black</p>
      <p>Turn:<div class="current-player"></div></p>
    </div>
    <table>
    <tr>
      <td class="column1"><div class="circle"></div></td>
      <td class="column2"><div class="circle"></div></td>
      <td class="column3"><div class="circle"></div></td>
      <td class="column4"><div class="circle"></div></td>
      <td class="column5"><div class="circle"></div></td>
      <td class="column6"><div class="circle"></div></td>
      <td class="column7"><div class="circle"></div></td>
    </tr>
    <tr>
      <td class="column1"><div class="circle"></div></td>
      <td class="column2"><div class="circle"></div></td>
      <td class="column3"><div class="circle"></div></td>
      <td class="column4"><div class="circle"></div></td>
      <td class="column5"><div class="circle"></div></td>
      <td class="column6"><div class="circle"></div></td>
      <td class="column7"><div class="circle"></div></td>
    </tr>
    <tr>
      <td class="column1"><div class="circle"></div></td>
      <td class="column2"><div class="circle"></div></td>
      <td class="column3"><div class="circle"></div></td>
      <td class="column4"><div class="circle"></div></td>
      <td class="column5"><div class="circle"></div></td>
      <td class="column6"><div class="circle"></div></td>
      <td class="column7"><div class="circle"></div></td>
    </tr>
    <tr>
      <td class="column1"><div class="circle"></div></td>
      <td class="column2"><div class="circle"></div></td>
      <td class="column3"><div class="circle"></div></td>
      <td class="column4"><div class="circle"></div></td>
      <td class="column5"><div class="circle"></div></td>
      <td class="column6"><div class="circle"></div></td>
      <td class="column7"><div class="circle"></div></td>
    </tr>
    <tr>
      <td class="column1"><div class="circle"></div></td>
      <td class="column2"><div class="circle"></div></td>
      <td class="column3"><div class="circle"></div></td>
      <td class="column4"><div class="circle"></div></td>
      <td class="column5"><div class="circle"></div></td>
      <td class="column6"><div class="circle"></div></td>
      <td class="column7"><div class="circle"></div></td>
    </tr>
    <tr>
      <td class="column1"><div class="circle"></div></td>
      <td class="column2"><div class="circle"></div></td>
      <td class="column3"><div class="circle"></div></td>
      <td class="column4"><div class="circle"></div></td>
      <td class="column5"><div class="circle"></div></td>
      <td class="column6"><div class="circle"></div></td>
      <td class="column7"><div class="circle"></div></td>
    </tr>
  </table>
  </div>
</body>
</html>
